<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title data-tid="elements_examples.meta.title">Payment</title>
  <meta data-tid="elements_examples.meta.description" name="description" content="Build beautiful, smart checkout flows.">

  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon/180x180.png">
  <link rel="icon" href="img/apple-touch-icon/180x180.png">

  <script src="https://js.stripe.com/v3/"></script>
  <script src="js/index.js" data-rel-js></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/base.css" data-rel-css="" />

  <!-- CSS for each example: -->
  <link rel="stylesheet" type="text/css" href="css/example1.css" data-rel-css="" />
</head>
<body>
  <div class="globalContent">
    <main>
    <section class="container-lg">
      <!--Intro-->
      <!--Example 1-->
      <div class="cell example example1" id="example-1">
        <form method="POST" accept="makePaymentTo-<%=docter._id%>-For-<%=child._id%>">
          <fieldset>
            <div class="row">
              <label for="example1-name" data-tid="elements_examples.form.name_label">Name</label>
              <input id="example1-name" data-tid="elements_examples.form.name_placeholder" type="text" placeholder="Username" required autocomplete="name">
            </div>
            <div class="row">
              <label for="example1-phone" data-tid="elements_examples.form.phone_label">Mobile</label>
              <input id="example1-phone" data-tid="elements_examples.form.phone_placeholder" type="tel" placeholder="Mobile" required autocomplete="tel">
            </div>
          </fieldset>
          
          <fieldset>
            <div class="row">
              <div id="example1-card"></div>
            </div>
          </fieldset>
          <button type="submit" data-tid="elements_examples.form.pay_button">Pay <%=docter.appointmentFee%></button>
        </form>
      </div>
    </section>
    </main>
  </div>

  <!-- Simple localization script for Stripe's examples page. -->
  <script src="js/l10n.js" data-rel-js></script>

  <!-- Scripts for each example: -->
  <script src="js/example1.js" data-rel-js></script>

</body>
</html>
