<%- include('./partials/sign/header') %>
            <div class="col-md-6 position-relative">
                <div class="sign-in-from">
                    <h4>Enter your email to get dummy credentials</h4>
                    <form class="mt-4" method="POST" action="/dummyCredential ">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter Name</label>
                            <input type="text" required name="enteredName" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter Email</label>
                            <input type="email" required name="enteredEmail" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your Email">
                        </div>
                        <% if(error != undefined && error.length > 0){ %>
                            <div class="alert alert-danger text-center">
                                <%= error %>
                            </div>
                        <% } %>
                        
                        <% if(success != undefined && success.length > 0){ %>
                            <div class="alert alert-success">
                                <%= success %>
                            </div>
                        <% } %>
                        <div class="d-inline-block w-100">
                            <button class="btn btn-primary float-right" type="submit">Submit</button>
                        </div>
                        
                        <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2">Already Have Account ? 
                                <a href="/signinParent">Log In</a>
                            </span>
                            <ul class="iq-social-media">
                                <li><a href="#"><i class="fas fa-home" aria-hidden="true"></i></a></li>
                                <li><a href="/">Home</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- Signup in END -->
<%- include('./partials/sign/footer') %>
</body>

<!-- Mirrored from iqonic.design/themes/xray/html/sign-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Mar 2020 16:45:10 GMT -->
</html>