<%- include('../partials/sign/header') %>
            <div class="col-md-6 position-relative">
                <div class="sign-in-from">
                    <h1 class="mb-0">Docter Sign in</h1>
                    <p>Enter your username and password to access admin panel.</p>
                    <form class="mt-4" method="POST" action="/signinDocter" >
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" name="username" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <a href="dummyCredential" class="float-right">Request For Dummy Credentials?</a>
                            <input type="password" name="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <% if(error != undefined && error.length > 0){ %>
                            <div class="alert alert-danger text-center">
                                <%= error %>
                            </div>
                        <% } %>
                        
                        <% if(success != undefined && success.length > 0){ %>
                            <div class="alert alert-success">
                                <%= success %>
                            </div>
                        <% } %>
                        <div class="d-inline-block w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember Me</label>
                            </div>
                            <button  type="submit" class="btn btn-primary float-right">Sign in</button>
                        </div>
                        <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2">Don't have an account? <a href="/signupDocter">Sign up</a></span>
                            <ul class="iq-social-media">
                                <li><a href="/">Home</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Sign in END -->
<%- include('../partials/sign/footer') %>
</body>

<!-- Mirrored from iqonic.design/themes/xray/html/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Mar 2020 16:45:10 GMT -->
</html>